/* Variables */
:root {
  --color-gray-light: #D5D6D7;
  --color-gray-dark: #343332;
  --color-0-light: #FFC2C2;
  --color-0-dark: #4F2222;
  --color-30-light: #EBCCAD;
  --color-30-dark: #402B17;
  --color-180-light: #BFDEDE;
  --color-180-dark: #183939;
  --color-210-light: #BED6EF;
  --color-210-dark: #1D3349;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  position: relative;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1rem;
}

body {
  background-color: #fff;
  color: var(--color-gray-dark);
	font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.333;
  margin: 0;
}

::-moz-selection {
  color: #fff;
  background: var(--color-gray-dark);
}
::selection {
  color: #fff;
  background: var(--color-gray-dark);
}

.mono {
  font-family: Courier, monospace;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 1.333rem 0;
}
h2 {
  margin-bottom: 0.333rem;
}
h2 + p {
  margin-top: 0;
}
p + h2 {
  margin-top: 2rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}
.markdown a,
.border-b {
  border-bottom: 1px solid currentColor;
}
@media (hover: hover) {
  .markdown a:hover {
    border-bottom-width: 0;
  }
}

abbr {
  text-decoration: none;
}

/* Buttons */
button {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5em 1em;
  height: 2.5em;
  border: 1px solid currentColor;
  user-select: none;
}
.btn > svg {
  margin-right: .5rem;
  margin-left: -.5rem;
}
.btn > span + svg {
  margin-left: .5rem;
  margin-right: -.5rem;
}
.btn:focus {
  border-color: var(--color-gray-dark);
}
.btn:active {
  opacity: 0.75;
}
@media (hover: hover) {
  .btn:hover {
    border-color: var(--color-gray-dark);
  }
}

/* Images */
figure {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  width: 100%;
  position: relative;
}
figure > figcaption ~ * {
  margin-top: 1rem;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.markdown figure:not(.audio) {
  max-width: 600px;
  margin: 2rem 0 3rem;
  mix-blend-mode: multiply;
}
.multiply {
  mix-blend-mode: multiply;
  position: relative;
}
.markdown figure:not(.audio)::after {
  content: "";
  display: block;
  mix-blend-mode: screen;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.text-color-30-dark figure:not(.audio)::after {
  background: var(--color-30-dark);
}

/* Paragaphs */
p {
  margin: 1.333em 0;
}

/* Lists */
ul, ol {
  padding-left: 1rem;
}
ul > li,
ol > li {
  padding-left: 1rem;
}
.markdown ul {
  list-style-type: none;
  padding-left: 0;
  position: relative;
}
.markdown ul > li {
  padding-left: 2rem;
}
.markdown ul > li::before {
  content: "—";
  position: absolute;
  left: 0;
  display: inline-block;
  margin-right: 1rem;
}
.list-none { list-style-type: none }
.list-none > li {
  display: inline-block;
  padding-left: 0;
}

/* Header */
#header {
  padding: 1rem;
}
#home #header {
  height: 3.5rem;
  margin-bottom: 3.5rem;
}
#header nav a,
#header nav h1 {
  font-size: 1rem;
  margin: 0;
  min-width: 1rem;
  min-height: 1.5rem;
}

/* Breadcrumb */
#breadcrumb {
  margin-bottom: 5.5rem;
}
#breadcrumb ol {
  padding: 0;
  margin: 0;
}
#breadcrumb ol > li {
  list-style: none;
  padding: 0;
}
#breadcrumb ol > li+li::before {
  content: "/";
  display: inline-block;
  margin: 0 0.5rem;
  opacity: .5;
}

/* Intro */
#intro section {
  padding: 1rem;
}

/* Main */
main {
  position: relative;
}

/* Home */
#home main {
  color: var(--color-30-dark);
  background: var(--color-gray-dark);
}

/* Sections */
section > :first-child {
  margin-top: 0;
}
.section {
  padding: 1rem;
}
.section.flex-1 > header {
  margin-bottom: 5.5rem;
}
.section > header h2 {
  display: inline-block;
  font-size: 1rem;
  margin: 0;
}
.section h3 {
  margin-bottom: 0;
}
.section h3 + p {
  margin-top: 0.5rem;
}

/* Items */
.item {
  max-width: 64ch;
  margin-bottom: 3rem;
}
header > .mono,
.item .mono {
  margin: 0.55rem 0;
}
.item__date {
  display: inline-block;
  padding-top: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.1666rem;
}


/* Footer */
footer[role="contentinfo"] {
  background: var(--color-gray-dark);
  color: var(--color-gray-light);
  padding: 1rem;
  justify-content: space-between;
  height: 4.5rem;
  font-size: 0.875rem;
  line-height: 1.333rem;
}
footer[role="contentinfo"] > * {
  margin: 0;
}
footer[role="contentinfo"] ::-moz-selection {
  color: var(--color-gray-dark);
  background: #fff;
}
footer[role="contentinfo"] ::selection {
  color: var(--color-gray-dark);
  background: #fff;
}


/* UTILITIES 
--------------------------------------- */

/* Colors */
.text-color-white {
  color: var(--color-gray-dark);
  background: #fff;
}
.text-color-30-dark ::-moz-selection {
  color: var(--color-210-light);
  background: var(--color-30-dark);
}
.text-color-30-dark ::selection {
  color: var(--color-210-light);
  background: var(--color-30-dark);
}
.text-color-30-dark {
  color: var(--color-30-dark);
  background: var(--color-210-light);
}
.text-color-30-dark .btn:focus {
  color: var(--color-210-light);
  background: var(--color-30-dark);
}
@media (hover: hover) {
  .text-color-30-dark .btn:hover {
    color: var(--color-210-light);
    background: var(--color-30-dark);
  }
}

.text-color-210-dark ::-moz-selection {
  color: var(--color-30-light);
  background: var(--color-210-dark);
}
.text-color-210-dark ::selection {
  color: var(--color-30-light);
  background: var(--color-210-dark);
}
.text-color-210-dark {
  color: var(--color-210-dark);
  background: var(--color-30-light);
}
.text-color-210-dark .btn:focus {
  color: var(--color-30-light);
  background: var(--color-210-dark);
}
@media (hover: hover) {
  .text-color-210-dark .btn:hover {
    color: var(--color-30-light);
  background: var(--color-210-dark);
  }
}

.text-color-180-dark ::-moz-selection {
  color: var(--color-180-light);
  background: var(--color-0-dark);
}
.text-color-180-dark ::selection {
  color: var(--color-180-light);
  background: var(--color-0-dark);
}
.text-color-180-dark {
  color: var(--color-0-dark);
  background: var(--color-180-light);
}
.text-color-180-dark .btn:focus {
  color: var(--color-180-light);
  background: var(--color-0-dark);
}
@media (hover: hover) {
  .text-color-180-dark .btn:hover {
    color: var(--color-180-light);
  background: var(--color-0-dark);
  }
}

/* Position */
.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed }
.inset-0 { top: 0; bottom: 0; left: 0; right: 0 }
.t-0 { top: 0 }
.b-0 { bottom: 0 }
.l-0 { left: 0 }
.r-0 { right: 0 }


/* Hidden */
[hidden], .hidden { display: none }

/* Opacity */
.opacity-75 { opacity: 0.75 }

/* Width */
.w-12  { width: 3rem }
.w-100 { width: 100% }
.max-w-2xl { max-width: 42rem }
.max-w-3xl { max-width: 48rem }
.max-w-4xl { max-width: 56rem }

/* Height */
.h-100    { height: 100% }
.h-screen { height: 100vh }
.h-auto   { height: auto }
.min-h-14 { min-height: 3.5rem }
.min-h-full { min-height: 100% } 
.max-h-14 { max-height: 3.5rem } 
.max-h-screen { max-height: 100vh }

/* Flexbox */
.flex {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flex-col { 
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-1 { 
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.flex-grow { 
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.flex-wrap { 
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.justify-between { 
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.order-first { 
  -webkit-box-ordinal-group: -9999;
  -moz-box-ordinal-group: -9999;
  -ms-flex-order: -9999; 
  -webkit-order: -9999; 
  order: -9999;
}
.align-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.align-baseline {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

/* Margin & Padding */
.m-0   { margin: 0 }
.mt-0  { margin-top: 0 }
.my-0  { margin-top: 0; margin-bottom: 0 }
.mt-0  { margin-top: 0 }
.ml-0  { margin-left: 0 }
.ml-1  { margin-left: 0.25rem }
.ml-2  { margin-left: 0.5rem }
.ml-4  { margin-left: 1rem }
.mr-0  { margin-right: 0 }
.mr-1  { margin-right: 0.25rem }
.mr-2  { margin-right: 0.5rem }
.mr-4  { margin-right: 1rem }
.mr-8  { margin-right: 2rem }
.mt-1  { margin-top: 0.25rem }
.mt-2  { margin-top: 0.5rem }
.mt-4  { margin-top: 1rem }
.mt-8  { margin-top: 2rem }
.mt-12 { margin-top: 3rem }
.mt-14 { margin-top: 3.5rem }
.mt-16 { margin-top: 4rem }
.mb-1  { margin-bottom: 0.25rem }
.mb-2  { margin-bottom: 0.5rem }
.mb-4  { margin-bottom: 1rem }
.mb-8  { margin-bottom: 2rem }
.mb-12 { margin-bottom: 3rem }
.mb-14 { margin-bottom: 3.5rem }

.p-0   { padding: 0 }
.pt-0  { padding-top: 0 }
.py-0  { padding-top: 0; padding-bottom: 0 }
.pt-0  { padding-top: 0 }
.pl-0  { padding-left: 0 }
.pl-1  { padding-left: 0.25rem }
.pl-2  { padding-left: 0.5rem }
.p-4   { padding: 1rem }
.pb-4  { padding-bottom: 1rem }
.pb-8  { padding-bottom: 2rem }
.pb-12 { padding-bottom: 3rem }
.pb-16 { padding-bottom: 4rem }

/* Typography */
.text-xs   { font-size: 0.75rem }
.text-sm   { font-size: 0.875rem }
.text-base { font-size: 1rem }
.text-lg   { font-size: 1.125rem }
.text-xl   { font-size: 1.25rem }
.text-2xl  { font-size: 1.5rem }
.text-2xl  { font-size: 1.5rem }
.text-5xl  { font-size: 3rem; line-height: 1em }

.leading-none { line-height: 1 }

.underline { text-decoration: underline }

/* Links */
.link-full:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Images */
.object-cover { object-fit: cover }



/* MEDIA QUERIES 
--------------------------------------- */

/* md: '768px' */
@media (min-width: 48rem ) { 
  .md\:h-screen { height: 100vh }
  .md\:inline { display: inline }
  .md\:hidden { display: none }
  .md\:w-full { width: 100% }
}

/* lg: '1024px' */
@media (min-width: 64rem ) { 
  #home main {
    background: var(--color-210-light);
  }
  #home .container > * {
    max-height: 100vh;
    overflow-y: auto;
  }
  #home .container > * {
    width: 50%;
    flex-basis: 50%;
    max-height: 100vh;
    overflow-y: auto;
  }
  .sections {
    min-height: calc(100vh - 4.5rem);
    display: flex;
    flex-direction: column;
  }
  
  #home footer[role="contentinfo"] {
    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .lg\:fixed { position: fixed }
  .lg\:flex-row { flex-direction: row }
  .lg\:h-screen { height: 100vh }
  .lg\:inline { display: inline }
  .lg\:hidden { display: none }
  .lg\:w-full { width: 100% }
  .lg\:w-12 { width: 3rem }
  .lg\:l-12 { left: 3rem }
}
